<?xml version="1.0"?>
<launch>

    <arg name="address" default="localhost" />
    <arg name="port" default="10000" />

    <!-- Launch san docker client -->
    <node pkg="san_socket" type="san_socket_client.py" name="san_socket_client" output="screen">
        <param name = "address" value="$(arg address)" />
        <param name = "port" value="$(arg port)" />
    </node>


</launch>